@use "abstract" as *;
@use "base" as *;

.nav {
  @include flex(row, space-between, center, 0);
  margin-bottom: 8rem;

  &__content {
    backdrop-filter: blur(500px);
    padding:0 15rem;
    padding-left:1rem;
    width: 110rem;
    position: relative;

    &::before {
      content: "";
      width: 70rem;
      height: 2.4px;
      background-color: var(--clr-gray-transparent);
      position: absolute;
      top: 50%;
      left: -65rem;
    }

    &--num,
    &--link {
      letter-spacing: 2px;
    }
    &--num {
      color: var(--clr-white);
      font-size: 1.4rem;
      font-weight: 700;
    }

    &--links {
      @include flex(row, center, center,4.8rem);
    }

    &--list {
      @include flex(row, center, center, 1.6rem);
      border-bottom: 4px solid transparent;
      padding: 4.8rem 0;
      transition: all 0.3s ease;
      &:hover {
        border-bottom: 4px solid var(--clr-white);
      }
    }

    &--link {
      &:link,
      &:visited {
        color: var(--clr-gray);
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}

.hero {
  @include flex(row, space-between, center, 0);
  padding: 12rem;
  &__header {
    color: var(--clr-gray);
    width: 50rem;
  }
  &__pri-heading {
    font-size: 2.4rem;
    letter-spacing: 2px;
    font-weight: 500;
    &--sub {
      color: var(--clr-white);
      display: block;
      font-size: 16rem;
      margin-bottom: 1.8rem;
    }
  }
  &__desc {
    font-size: 1.6rem;
    line-height: 30px;
    text-transform: lowercase;
  }

  &__btn-container {
    align-self: flex-end;
  }
  &__btn {
    border: none;
    border-radius: 50%;
    color: var(--clr-black);
    font-size: 3.6rem;
    font-family: inherit;
    letter-spacing: 2px;

    width: 30rem;
    height: 30rem;

    translate:-180px;

  }
}
