doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width-device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" size="32x32" href="../../assets/favicon-32x32.png") 
        title Space tourism website 
        link(rel="stylesheet" href="../sass/style.scss")

    body 
        main 
            section.nav
                img(src="../../assets/shared/logo.svg", alt="logo")
                nav.nav__content  
                    ul
                        li
                            p 00
                            a(href="#") HOME
                        li
                            p 01 
                            a(href="#") DESTINATION
                        li
                            p 02
                            a(href="#") CREW
                        li
                            p 03
                            a(href="#") TECNONOLOGY
            section.crew 
                h1.crew__pri-heading 02 MEET YOUR CREW
                .crew__container
                    .crew__desc-content
                        h2.crew__sec-heading Mission Specialist 
                        P.crew__name Mark Shuttleworth
                        P.crew__desc 
                            | Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind 
                            | the Linux-based Ubuntu operating system. Shuttleworth became the first South 
                            | African to travel to space as a space tourist.
                        .crew__tabbed
                            span.crew__tabbed--dot 
                            span.crew__tabbed--dot 
                            span.crew__tabbed--dot 
                            span.crew__tabbed--dot 
                    .crew__img-container 
                        img(src="../../assets/crew/image-anousheh-ansari.png" alt="flight engineer image")

