doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width-device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" size="32x32" href="../../assets/favicon-32x32.png") 
        title Space tourism website 
        link(rel="stylesheet" href="../sass/style.scss")

    body 
        main 
            section.nav
                img(src="../../assets/shared/logo.svg", alt="logo")
                nav.nav__content  
                    ul
                        li
                            p 00
                            a(href="#") HOME
                        li
                            p 01 
                            a(href="#") DESTINATION
                        li
                            p 02
                            a(href="#") CREW
                        li
                            p 03
                            a(href="#") TECNONOLOGY
            section.hero 
                h1.hero__pri-heading 01 PICK YOUR DESTINATION
                .hero__content
                    .hero__img-container
                        img.hero__img(src="../../assets/destination/image-moon.png", alt="")
                    .hero__desc-container 
                        .hero__switch-des
                            p.hero__switched-des MOON
                            p.hero__switched-des MARS
                            p.hero__switched-des EUROPA
                            p.hero__switched-des TITAN
                        h2.hero__desc-heading MOON 
                        p.hero__desc 
                            | See our planet as you've never seen it before. A perfect relaxing trip away to
                            | regai perspective and come back refreshed. While you're there, take in some history 
                            | by visiting the Luna 2 and Apollo 11 landing sites. 
                    .hero__des-info
                        div
                            h3.hero__des-info--heading AVG DISTANCE
                            p.hero__des-info--desc 384,400 KM
                        div
                            h3.hero__des-info--heading EST. TRAVEL TIME
                            p.hero__des-info--desc 3 DAYS



