doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width-device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" size="32x32" href="../../assets/favicon-32x32.png") 
        link(rel="stylesheet" href="../sass/style.scss")
        title Space tourism website 
    body 
        main 
            section.nav
                img(src="../../assets/shared/logo.svg", alt="logo")
                nav.nav__content  
                    ul
                        li
                            p 00
                            a(href="#") HOME
                        li
                            p 01 
                            a(href="#") DESTINATION
                        li
                            p 02
                            a(href="#") CREW
                        li
                            p 03
                            a(href="#") TECNONOLOGY
            section.hero
                header.hero__header
                    h1.hero__pri-heading SO, YOU WANT TO TRAVEL TO
                        span.hero__pri-heading--sub SPACE
                    p.hero__desc 
                        | Let's face it; if you want to go to space, you might as well
                        | genuinely go to outer space and not hover kind of on the edge 
                        | of it. Well sit back, and relax because we'll give you a truly 
                        | out of this world experience!
                div 
                    button EXPLORE
        
